.buttonProfileApp {
  width: 200px;
  background-color: #40bfff;
  border-color: #40bfff;
}
.acordionProfile {
  width: 500px;
  border: 2px solid #33a0ff;
  border-radius: 0px !important;
  text-decoration: none !important;
}
@media (max-width: 576px) {
  .acordionProfile {
    width: 90dvw;
  }
}
