.navbarTittle {
  font-size: 4.5rem;
}
.navBarImg {
  width: 60px;
}
.NavbarText {
  text-decoration: none;
  color: black;
}
.navbarLink {
  text-decoration: none;
}
@media (max-width: 768px) {
  .navbarTittle {
    font-size: 2.5rem;
  }
  .navBarImg {
    width: 45px;
  }
}
@media (max-width: 350px) {
  .navbarLink {
    position: relative !important;
  }
}
